aiomqtt==1.1.0
blackboxprotobuf==1.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
mintotp==0.3.0
paho-mqtt==1.6.1
protobuf==3.10.0
pycryptodomex==3.18.0
requests==2.31.0
six==1.16.0
urllib3==2.0.4
wyze-sdk==2.0.0
